/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/

@media (max-width: 1200px) {
  .header__nav-item {
    padding-right: 20px;
    margin-right: clamp(0px, calc(2.5vw - ((958px - 68vw)/12)), 42px);
}

  /* Catalog */
  .section-catalog__artist-list {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }

  /* Contacts */
  .section-contacts__contacts {
    width: calc(650 / 1600 * 100%);
  }

  .section-contacts__map {
    width: calc(950 / 1600 * 100% + ((100vw - 100%) / 2));
  }
}

@media (max-width: 1024px) {
  :root {
    --container-padding: 50px;
  }

  /* .container {
    max-width: 1024px;
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
  } */

  .header__top {
    position: relative;
    padding: 28px 0;
  }

  .header__bottom-list {
    display: none;
  }

  .header__bottom {
    padding: 0;
    background: none;
  }

  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .aside-left {
    width: auto;
  }


  .header__nav {
    display: block;
    position: absolute;
    width: 100vw;
    min-height: 768px;
    top: 0;
    left: 0;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    padding-top: 96px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 12;
    -webkit-transform: translateX(-101%);
        -ms-transform: translateX(-101%);
            transform: translateX(-101%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }

  .header__nav.is-menu-open {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .header__nav-list{
    display: block;
    margin-bottom: 131px;
  }

  .header__nav-link {
    font-size: 24px;
    line-height: 64px;
  }

  .header__burger {
    position: absolute;
    left: var(--container-padding);
    top: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 15;
    width: 36px;
    height: 28px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
  }

  .header__burger-rect {
    width: 36px;
    height: 3px;
    background-color: var(--light);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    -o-transition: transform;
    transition: transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
         -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  .rect-1 {
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transform: rotate(45deg) translateY(-1px);
        -ms-transform: rotate(45deg) translateY(-1px);
            transform: rotate(45deg) translateY(-1px);
  }

  .rect-2 {
    width: 28px;
    -webkit-transform: translateX(200px) scaleY(0);
        -ms-transform: translateX(200px) scaleY(0);
            transform: translateX(200px) scaleY(0);
  }

  .rect-3 {
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .rect-3.is-burger {
    width: 24px;
  }

  .is-burger {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .aside-right {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: initial;
  }

  .btn-enter {
    padding: 16px 90px;
    border: 2px solid var(--accident-03);
    border-radius: 50px;
  }

  .search-btn-open {
    display: block;
    position: absolute;
    right: var(--container-padding);
    top: 50%;
    opacity: 1;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 11;
  }

  .search-btn svg {
    width: 28px;
    height: 28px;
  }

  .search-btn-open.search-form__input--is-active {
    opacity: 0;
    z-index: 1;
  }

  .search-form {
    position: absolute;
    right: var(--container-padding);
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: #18171B;
    z-index: 10;
  }

  .search-form {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 99%;
    background-color: var(--dark);
  }

  .search-form.search-form__input--is-active {
    z-index: 20;
  }

  .search-btn {
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }

  .search-form__close-btn svg {
    width: 24px;
    height: 24px;
    stroke: var(--light);
  }

  .search-form__close-btn {
    display: block;
    opacity: 0;
    width: 35px;
    height: 17px;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    z-index: 1;
  }

  .search-btn-submit {
    opacity: 0;
  }

  .search-btn-submit.search-form__input--is-active {
    opacity: 1;
  }

  .search-form__close-btn.search-form__input--is-active {
    opacity: 1;
    z-index: 2;
  }


  .search-form__input {
    margin: 0;
    width: 0;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
  }

  .search-form__input.search-form__input--is-active {
    margin: 0 18px 0 10px;
    width: clamp(180px, calc(21.3vw), 218px);
  }

  .search-form__input::-webkit-input-placeholder {
    color: transparent;
  }

  .search-form__input::-moz-placeholder {
    color: transparent;
  }

  .search-form__input:-ms-input-placeholder {
    color: transparent;
  }

  .search-form__input::-ms-input-placeholder {
    color: transparent;
  }

  .search-form__input::placeholder {
    color: transparent;
  }



  /* Hero */
  .section-hero {
    min-height: 768px;
  }

  .section-hero__container {
    padding-top: 212px;
    padding-bottom: 114px;
  }

  .stction-hero__img {
    background: url("../img/hero-1024-1.jpg") center center no-repeat var(--main);
  }

  .section-hero__content {
    max-width: 660px;
  }

  .section-hero__title {
    margin-bottom: 10px;
  }

  .section-hero__descr {
    margin-bottom: 133px;
  }

  /* Gallery */
  .section-gallery {
    margin-bottom: 88px;
    background: url("../img/gallary-1024.jpg") center center no-repeat var(--main);
    background-size: cover;
  }

  .section-gallery__left-panel, .section-gallery__note {
    width: calc(280 / 924 * 100%);
}

  .section-gallery__swiper-panel {
    width: calc(594 / 924 * 100%);
    padding-top: 24px;
  }

  /* Catalog */
  .section-catalog__content-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .section-catalog__panel {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 25px);
            flex: 0 0 calc(50% - 25px);
  }

  .section-catalog__info-panel {
    padding-right: 0;
  }

  .section-catalog__header {
    margin-bottom: 5px;
}

  .section-catalog__title {
    padding-bottom: 20px;
}

  .section-catalog__patch-pic {
    background: url("../img/artist-patch-1024.png") no-repeat center center var(--gallery);
  }

  /* News */
  .section-news__content {
    padding: 5px 33px 100px;
  }

  .section-news__item {
    min-height: 685px;
    margin-bottom: 50px;
  }

  .section-news__item-image {
    margin-bottom: 15px;
  }

  .section-news__link {
    left: 34px;
    bottom: 51px;
  }

  /* Publications */
  .section-pbls {
    background: url("../img/publication-bg-1024.jpg") center center no-repeat var(--main);
    background-size: cover;
  }

  .section-pbls__container {
    padding-bottom: 80px;
}

  .section-pbls__left-panel {
    width: calc(295 / 924 * 100%);
  }

  .section-pbls__swiper-panel {
    width: calc(629 / 924 * 100%);
  }

  .section-pbls__slide-content {
    padding-bottom: 41px;
  }

  .section-pbls__image {
    margin-bottom: 13px;
  }

  /* Projects */
  .section-projects__slides-container {
    width: calc(100% - 106px);
  }

  .section-projects__slide {
    height: 128px;
  }

  .section-projects__img {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
  }

  /* Contacts */
  .section-contacts__contacts {
    width: calc(437 / 924 * 100%);
  }

  .section-contacts__map {
    width: calc(487 / 924 * 100% + ((100vw - 100%) / 2));
  }

  .section-contacts__input {
    width: calc(100% - 102px);
  }

  .section-contacts__social-item,
  .footer__social-item:not(:last-child) {
    margin-right: 30px;
  }

  .section-contacts__social-link svg,
  .footer__social-link svg {
    width: 60px;
    height: 60px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

}


@media (max-width: 850px) {

  .search-form__input.search-form__input--is-active {
    margin: 0 9px;
    width: calc(100vw - (81px + 2 * var(--container-padding)));
  }

  /* Gallery */
  .section-gallery__container {
    padding-bottom: 68px;
}

  .section-gallery__content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-gallery__left-panel,
  .section-gallery__swiper-panel,
  .section-gallery__note {
    width: 100%;
  }

  .section-gallery__swiper-panel {
    margin-bottom: 34px;
  }

  .section-gallery__note,
  .section-gallery__note-content {
    position: initial;
  }

  .section-gallery__note-text {
    font-weight: 400;
  }

  .section-gallery__filter {
    width: 280px;
    margin-bottom: 24px;
  }

  .choices__list--dropdown {
    background-color: var(--dark);
    z-index: 10;
  }

  .gallery-slide::before {
    padding-top: calc(88% - 6px);
  }

  /* Catalog */
  .section-catalog {
    margin-bottom: 21px;
  }

  .section-catalog__btn-item:not(:last-child) {
    margin-bottom: 12px;
    margin-right: 49px;
  }

  .section-catalog__content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .section-catalog__descr {
    margin-bottom: 21px;
  }

  .section-catalog__panel {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    margin-bottom: 50px;
  }

  .section-catalog__artist-list {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }

  /* News */
  .section-news__list {
    margin-bottom: 16px;
  }

  .section-news__item {
    width: calc(50% - 17px);
    min-height: 683px;
    margin-bottom: 34px;
    margin-right: 34px;
  }

  .section-news__item:nth-child(3n) {
    margin-right: 34px;
  }

  .section-news__item:nth-child(2n) {
    margin-right: 0;
  }

  .section-news__item-image {
    margin-bottom: 11px;
  }

  /* Publications */
  .section-pbls__container {
    padding-top: 84px;
    padding-bottom: 75px;
  }

  .section-pbls__content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-pbls__left-panel,
  .section-pbls__swiper-panel {
    width: 100%;
  }

  .section-pbls__slides-container {
    max-width: 614px;
    margin: 0 auto;
  }

  .section-pbls__list {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }

  .section-pbls__navigation {
    padding-top: 47px;
    padding-left: 0px;
  }

  .pbls-slides-container {
    margin-right: max(calc((100% - 614px) / 2), 0px);
    margin-left: max(calc((100% - 619px) / 2), 0px);

  }

  /* news */
  .is-active-1024 {
    display: none;
  }

  .is-active-768 {
    display: block;
  }

  /* projects */
  .section-projects__content {
    margin-bottom: 26px;
  }

  .section-projects__subtitle {
    margin-bottom: 29px;
  }

  .section-projects__slide {
    height: 106px;
  }

  /* Contacts */
  .section-contacts__contacts {
    width: calc(380 / 668 * 100%);
  }

  .section-contacts__map {
    width: calc(288 / 668 * 100% + ((100vw - 100%) / 2));
  }

  .section-contacts__input {
    width: calc(100% - 45px);
  }

}

@media (max-width: 767px) {
  :root {
    --container-padding: 30px;
  }

  /* .container {
    max-width: 767px;
    padding-right: 30px;
    padding-left: 30px;
  } */
  /* Hero */
  .stction-hero__img {
    background: url("../img/hero-768-1.jpg") center center no-repeat var(--main);
  }

  .section-hero__content {
    max-width: 100%;
  }

  .section-hero__title {
    font-size: calc(10vw - (1vw - 2.88px));
    line-height: 1.2;
  }

  /* Gallery */
  .section-gallery {
    background: url("../img/gallary-768.jpg") center center no-repeat var(--main);
  }

  /* Catalog */
  .section-catalog__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .section-catalog__btn-item:not(:last-child) {
    margin-right: 10px;
  }

  .section-catalog__btn-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 544px;
  }

  .section-catalog__artist-list {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

  /* Publications */
  .section-pbls {
    background: url("../img/publication-bg-768.jpg") center center no-repeat var(--main);
    background-size: cover;
  }

  .section-pbls__slide-title {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
  }
}

@media (max-width: 544px) {
  :root {
    --container-padding: 15px;
  }

  /* Hero */
  .section-hero__container {
    padding-top: 150px;
    padding-bottom: 106px;
  }

  .section-hero {
    min-height: 355px;
  }

  .section-hero__descr {
    font-weight: 400;
  }

  /* Gallaery */
  .section-gallery__swiper-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  .gallary-slides-container {
    margin-bottom: 30px;
  }

  .gallery-slide::before {
    padding-top: calc(100% - 6px);
  }

  .section-gallery__navigation {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    padding-left: 0;
  }

  /* News */
  .section-news__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .section-news__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }

  .swiper-pagination-bullet-active {
    background: var(--darkgray);
  }

  .events-pagination {
    text-align: center;
  }

  .section-news__btn-more {
    display: none;
  }

  /* Publications */
  .section-pbls__left-panel {
    margin-bottom: 50px;
  }

  .section-pbls__legend-top {
    position: relative;
    width: 100%;
    height: 38px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .section-pbls__legend-top::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    right: 4px;
    top: 14px;
    border: solid var(--light);
    border-width: 0 0 1px 1px;
    -webkit-transform-origin: 30% 60%;
        -ms-transform-origin: 30% 60%;
            transform-origin: 30% 60%;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }

  .section-pbls__legend-top.is-close-cat::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }


  .section-pbls__check-item {
    position: relative;
    overflow: hidden;
    height: 38px;
    -webkit-transition: height .5s ease-in-out ;
    -o-transition: height .5s ease-in-out ;
    transition: height .5s ease-in-out ;
  }

  .section-pbls__check-label {
    width: 100%;
  }

  .close {
    display: block;
    position: absolute;
    right: 3px;
    top: 10px;
    width: 12px;
    height: 12px;
    opacity: .5;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
  }

  .close:before, .close:after {
    content: ' ';
    position: absolute;
    left: 6px;
    height: 17px;
    width: 1px;
    background-color: var(--light);
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
  }
  .close:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .close:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .section-pbls__check:checked ~ .close::before,
  .section-pbls__check:checked ~ .close::after {
    background-color: var(--accident-02);
  }


  .section-pbls__check:checked ~ .close {
    opacity: 1;
  }

  .section-pbls__wrap-check-item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: border-color .5s ease-in-out;
    -o-transition: border-color .5s ease-in-out;
    transition: border-color .5s ease-in-out;
  }

  .section-pbls__check-item.is-close .section-pbls__wrap-check-item {
    border-color: transparent;
  }

  .is-close {
    height: 0;
  }

  .section-pbls__slides-container {
    overflow: initial;
    padding-left: 0;
    padding-bottom: 0;
}

  .section-pbls__list {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }

  .section-pbls__slides-wrap{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .section-pbls__slide {
    width: calc(100% / 2 - 15px);
    margin-bottom: 50px;
  }

  .section-pbls__slide-content {
    padding-bottom: 70px;
  }

  .section-pbls__slide-title,
  .section-pbls__slide-autor,
  .section-pbls__slide-price,
  .section-pbls__slide-link {
    padding-right: 0;
    font-size: 3.75vw;
    line-height: 1.4;
  }

  .section-pbls__slide-autor {
    display: block;
    margin-bottom: 10px;
  }

  .section-pbls__slide-price {
    position: initial;
    display: block;
    margin-bottom: 20px;
  }

  .section-pbls__slide-link{
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  /* Contacts */
  .section-contacts {
    position: relative;
  }

  .section-contacts__title {
    margin-bottom: 15px;
  }

  .section-contacts__container {
    padding-bottom: 30px;
  }

  .section-contacts__contacts-wrap {
    border: none;
  }

  .section-contacts__contacts {
    width: 100%;
    padding-top: 0;
    border: none;
  }

  .section-contacts__subtitle {
    margin-bottom: -4px;
    font-size: 18px;
    line-height: 1;
  }

  .section-contacts__address {
    font-size: 14px;
    margin-bottom: 350px;
  }

  .section-contacts__form-legend,
  .section-contacts__social-title {
    font-size: 18px;
  }

  .section-contacts__social-title {
    margin-bottom: 7px;
  }

  .section-contacts__input {
    margin-bottom: 20px;
  }

  .section-contacts__form-btn {
    padding: 12px 33px;
    font-size: 12px;
    line-height: 1;
  }

  .section-contacts__form {
    margin-bottom: 20px;
  }

  .section-contacts__social-link svg,
  .footer__social-link svg{
    width: 50px;
    height: 50px;
  }

  .section-contacts__social-item {
    margin-right: 20px;
  }

  .section-contacts__map {
    position: absolute;
    width: 100vw;
    height: 320px;
    top: 135px;
    right: 0;
  }

  /* Footer */
  .footer {
    height: 132px;
    padding-top: 20px;
    padding-bottom: 0;
}

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__social-list {
    margin-bottom: 18px;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 28px;
    line-height: 38px;
  }

  /* .sub-title {
    font-size: 18px;
  } */

  /* .main-text {
    font-size: 14px;
    line-height: 28px;
  } */

  /* Header */
  .header__top {
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .header__nav-list {
    width: 100%;
  }

  .header__nav {
    height: 0;
    min-height: 355px;
    padding-top: 46px;
  }

  .header__nav-list {
    margin-bottom: 28px;
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 32px;
  }

  .header__burger {
    left: 15px;
    top: 50%;
    width: 25px;
    height: 18px;
  }

  .header__burger-rect {
    width: 25px;
    height: 2px;
  }

  .rect-1 {
    -webkit-transform: rotate(45deg) translateX(-1px) translateY(-1px);
        -ms-transform: rotate(45deg) translateX(-1px) translateY(-1px);
            transform: rotate(45deg) translateX(-1px) translateY(-1px);
  }

  .rect-2 {
    width: 16px;
    -webkit-transform: translateX(200px) scaleY(0);
        -ms-transform: translateX(200px) scaleY(0);
            transform: translateX(200px) scaleY(0);
  }

  .rect-3 {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .rect-3.is-burger {
    width: 10px;
  }


  .btn-enter {
    padding: 10px 31px;
    font-size: 12px;
    line-height: 16px;
  }

  .icon-enter {
    width: 9px;
    height: 9px;
  }

  .search-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100vw;
    height: 75px;
    left: 0;
    top: 0;
    padding-bottom: 19px;
    /* background-color: #11293d; */
    z-index: 20;
    -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }

  .search-form.search-form__input--is-active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .search-btn {
    width: 18px;
}

  .search-btn svg {
    height: 18px;
    width: 18px;
  }

  .search-form__close-btn {
    position: absolute;
    right: var(--container-padding);
    right: 5px;
    top: 12px;
    transform: scale(.65);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    opacity: 1;
    z-index: 21;
  }

    .search-btn-submit {
    opacity: 1;
  }

  .search-form__input {
    width: 100px;
    margin: 0 8px;
  }

  .search-form__input.search-form__input--is-active {
    width: 180px;
    margin: 0px 5px;
  }

  /* Hero */
  .section-hero {
    margin-bottom: 50px;
  }

  .section-hero__container {
    padding-top: 77px;
    padding-bottom: 46px;
  }

  .section-hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 268px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-hero__title {
    font-size: 32px;
    text-align: center;
  }

  .section-hero__descr {
    margin-bottom: 42px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .section-hero__link {
    padding: 5px 18px;
    font-size: 12px;
  }

  /* About */
  .section-about__container {
    padding-bottom: 41px;
  }

  .section-about__title {
    margin-bottom: 12px;
  }

  .section-about__descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* Gallery */
  .section-gallery__container {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .section-gallery__title {
    margin-bottom: 12px;
  }

  .section-gallery__label {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 6px;
  }

  .section-gallery__filter {
    width: inherit;
    margin-bottom: 16px;
  }

  .gallary-slides-container {
    margin-bottom: 19px;
  }

  .section-gallery__swiper-panel {
        margin-bottom: 18px;
  }

  .gallery-slide::before {
    padding-top: calc(127% - 6px);
  }

  .section-gallery__note-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }

  /* Catalog */
  .section-catalog {
    margin-bottom: 0px;
  }

  .section-catalog__title {
    padding-bottom: 10px;
  }

  .section-catalog__tabs-btn {
    width: 36px;
    height: 36px;
  }

  .section-catalog__tabs-btn::after {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
  }

  .section-catalog__descr {
    display: none;
  }

  .section-catalog__heading {
    padding: 20px 120px 20px 0;
    font-size: 18px;
  }

  .head-icon {
    width: 30px;
    height: 30px;
  }

  .section-catalog__content {
    padding-top: 22px;
    padding-bottom: 22px;
}

  .section-catalog__artist-list {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }

  .section-catalog__link-artist,
  .section-catalog__info-descr,
  .section-news__descr,
  .section-news__link,
  .section-pbls__legend,
  .section-pbls__heading {
    font-size: 16px;
    line-height: 32px;
  }

  .section-catalog__patch-pic {
    margin-bottom: 21px;
    background: url("../img/artist-patch-320.png") no-repeat center center var(--gallery);
  }

  .section-catalog__info-title {
    margin-bottom: 15px;
  }

  /* News */
  .section-news {
    margin-bottom: 46px;
  }

  .section-news__title {
    margin-bottom: 12px;
  }

  .section-news__content {
    padding: 5px 28px 89px;
  }

  .section-news__list {
    margin-bottom: 0;
  }

  .section-news__link {
    left: 28px;
    bottom: 47px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }


  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 7.5px;
    margin-left: 7.5px;
  }

  /* Publications */
  .section-pbls {
    margin-bottom: 50px;
  }

  .section-pbls__container {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .section-pbls__title {
    margin-bottom: 12px;
  }

  .section-pbls__legend-top {
    height: 40px;
  }

  .section-pbls__checkbox {
    top: 13px;
  }

  .section-pbls__heading {
    line-height: 37px;
  }

  .section-pbls__list {
    margin-bottom: 19px;
  }

  .section-pbls__slide-content {
    padding-bottom: 40px;
}

  .section-pbls__image {
    margin-bottom: 8px;
  }

  .section-pbls__slide-title,
  .section-pbls__slide-autor,
  .section-pbls__slide-price,
  .section-pbls__slide-link {
    font-size: 12px;
    line-height: 14px;
  }

  .section-pbls__slide-title {
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 3px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
  }

  .section-pbls__slide-autor {
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
  }

  .section-pbls__slide-price {
    margin-bottom: 11px;
  }

  .section-pbls__slide-link {
    padding: 11px 0;
  }

  /* Projects */
  .section-projects__container {
    margin-bottom: 50px;
  }

  .section-projects__title {
    margin-bottom: 12px;
  }

  .section-projects__content {
    margin-bottom: 22px;
  }

  .section-projects__subtitle{
    font-size: 18px;
    line-height: 9px;
    margin-bottom: 22px;
  }

  .section-projects__slides-container {
    width: calc(100% - 94px);
  }

  .section-projects__slide {
    height: 65px;
  }

  .section-projects__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transform: scale(0.55);
        -ms-transform: scale(0.55);
            transform: scale(0.55);
  }

  /* Contacts */
  .section-contacts__input {
    width: 100%;
  }


  .section-contacts__map {
    top: 109px;
  }

}

@media (max-width: 320px) {
  /* Hero */
  .stction-hero__img {
    background: url("../img/hero-320-1.jpg") center center no-repeat var(--main);
  }
  /* Gallary */
  .section-gallery {
    background: url("../img/gallary-320.jpg") center center no-repeat var(--main);
    margin-bottom: 50px;
  }

  /* Publications */
  .section-pbls {
    background: url("../img/publication-bg-320.jpg") center center no-repeat var(--main);
    background-size: cover;
  }
}



.is-burger {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
