/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v27-latin_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --light: #fff;
  --dark: #000;
  --main: #333;
  --gray: #999;
  --darkgray: #666;
  --nobel: #b7b7b7;
  --gallery: #ececec;
  --accident-01: #7943a4;
  --accident-02: #c283f3;
  --accident-03: #9d5cd0;
  --accident-04: #d1a9f0;
  --accident-05: #d88f99;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}

p, h1, h2, h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Open Sans', sans-serif;
  background: var(--light);
}

body {
  position: relative;
}

.container {
  max-width: 1660px;
  padding-right: 30px;
  padding-left: 30px;
  /* max-width: 1920px;
  padding-right: 160px;
  padding-left: 160px; */
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  border-radius: 100px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--main);
}

.sub-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--main);
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main);
}

.white-text {
  color: var(--light);
}

.semibold {
  font-weight: 600;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.header__top {
  padding: 29px 0;
  background: var(--dark);
}

.header__bottom {
  padding: 22px 0;
  background: rgba(0, 0, 0, 0.4);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-left {
  flex: 0 0 200px;
}

.aside-right {
  flex: 0 2 200px;
}

.header__nav {
  display: flex;
  justify-content: center;
  flex: 0 1 1200px;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 896px;
}

.header__nav-item:not(:last-child) {
  margin-right: 62px;
}

.header__nav-link {
  position: relative;
  z-index: 1;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--light);
  transition: color .3s ease;
}


.link-focus::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -1px;
  right: -8px;
  bottom: -3px;
  left: -8px;
  background: var(--accident-01);
  opacity: 0;
  transition: opacity .3s ease;
}

.link-focus.focus-visible::after {
  opacity: 1;
}

.header__nav-link:hover {
  color: var(--accident-02);
}

.header__nav-link:active {
  color: var(--accident-01);
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.btn-enter {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--light);
  cursor: pointer;
  transition: color .3s ease;
}

.btn-enter .icon-enter {
  fill: currentColor;
}

.icon-enter {
  margin-right: 1px;
}

.btn-enter::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -1px;
  right: -6px;
  bottom: -1px;
  left: -6px;
  background: var(--accident-01);
  opacity: 0;
  transition: opacity .3s ease;
}

.btn-enter.focus-visible::after {
  opacity: 1;
}

.btn-enter:hover {
  color: var(--accident-02);
}

.btn-enter:hover .icon-enter {
  fill: currentColor;
}

.btn-enter:active {
  color: var(--accident-01);
}

.btn-enter:focus .icon-enter {
  fill: currentColor;
}

.header__bottom-list {
  display: flex;
  align-items: center;
}

.header__bottom-item {
  position: relative;
  color: var(--light);
}

.header__bottom-item:not(:last-child) {
  margin-right: 97px;
}

.header__bottom-item-heading {
  font-weight: 400;
  font-size: 18px;
}

.header__bottom-item-btn {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  padding-right: 4px;
  border: none;
  background-color: transparent;
  color: var(--light);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  z-index: 5;
}

.header__bottom-item-btn::before {
  content: '';
  position: absolute;
  top: -3px;
  right: -5px;
  bottom: -8px;
  left: -8px;
  background-color: var(--accident-01);
  z-index: -1;
  opacity: 0;
  transition-property: color, opacity;
  transition: 0.2s ease-in-out;
}

.header__bottom-item-btn.focus-visible::before {
  opacity: 1;
  color: var(--light);
}


.header__bottom-item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 5px;
  /* margin-top: 0px; */
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: cente;
}



.header__bottom-item-btn.is-active {
  color: var(--accident-01);
}
.header__bottom-item-btn.is-active::before {
  color: var(--accident-01);
  background-color: transparent;
}

.header__bottom-item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.header__bottom-item-btn:active {
  color: var(--accident-01);
}

.header__bottom-item-btn:hover {
  color: var(--accident-03);
}

.header__bottom-dropdown {
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__bottom-dropdown-wrap {
  width: 240px;
  height: 220px;
}

.header__bottom-dropdown.is-active {
  position: absolute;
  top: 45px;
}

.header__bottom-dropdown > ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.header__bottom-dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.header__bottom-dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.header__bottom-drop-list {
  list-style: none;
  padding-left: 0;
}

.header__bottom-dropdown-item {
  width: 220px;
}

.header__bottom-dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__bottom-item-link {
  position: relative;
  display: block;
  padding: 10px 15px;
  outline: none;
  border: 2px solid transparent;
  font-size: 14px;
  color: var(--light);
  background-color: var(--dark);
  transition: border-color .3s ease;
}

.header__bottom-item-link::after {
  content: "";
  position: absolute;
  /* z-index: 5; */
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: 2px solid var(--accident-04);
  background: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity .3s ease;
}

.header__bottom-item-link:hover,
.header__bottom-item-link:focus {
  border-color: var(--accident-03);
}

.header__bottom-item-1-1 {
  background: url("../img/drd-1-1.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-1-2 {
  background: url("../img/drd-1-2.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-1-3 {
  background: url("../img/drd-1-3.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-1-4 {
  background: url("../img/drd-1-4.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-1-5 {
  background: url("../img/drd-3-1.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-1-6 {
  background: url("../img/drd-3-2.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-2-1 {
  background: url("../img/drd-2-1.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-2-2 {
  background: url("../img/drd-2-2.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-2-3 {
  background: url("../img/drd-2-3.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-2-4 {
  background: url("../img/drd-2-4.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-3-1 {
  background: url("../img/drd-3-1.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-3-2 {
  background: url("../img/drd-3-2.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-3-3 {
  background: url("../img/drd-3-3.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-3-4 {
  background: url("../img/drd-3-4.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-4-1 {
  background: url("../img/drd-4-1.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-4-2 {
  background: url("../img/drd-4-2.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-4-3 {
  background: url("../img/drd-4-3.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-4-4 {
  background: url("../img/drd-4-4.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-5-1 {
  background: url("../img/drd-5-1.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-5-2 {
  background: url("../img/drd-5-2.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-5-3 {
  background: url("../img/drd-5-3.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-5-4 {
  background: url("../img/drd-5-4.jpg") center center no-repeat var(--accident-05);
}

.header__bottom-item-link:active::after {
  opacity: 1;
}

.header__bottom-dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--dark);
}

.header__bottom-dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--light);
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.search-form {
  display: flex;
  align-items: flex-end;
}

.search-form__btn {
  margin-right: 9px;
  outline: none;
  line-height: 0;
  cursor: pointer;
}

.search-form__btn svg {
  fill: var(--light);
}


.search-form__input {
  width: 218px;
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--light);
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--light);
  transition: border-color .3s ease;
}

.search-form__input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.search-form__input:focus,
.search-form__input:hover {
  border-color: var(--accident-02);
}

/* .search-form__input:focus .search-form__btn svg,
.search-form__input:hover .search-form__btn svg{
  fill: var(--accident-02);
} */

.search-form__input:active {
  border-color: var(--accident-01);;
}

/* Hero */
.section-hero {
  width: 100%;
  min-height: 800px;
  margin-bottom: 80px;
  background: url("/img/hero-1920-1.jpg") center center no-repeat var(--main);
  background-size: cover;
}

.section-hero__container {
  padding-top: 239px;
  padding-bottom: 122px;
}

.section-hero__content {
  max-width: 597px;
}

.section-hero__title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: var(--light);
}

.section-hero__descr {
  margin-bottom: 93px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--light);
}

.section-hero__link {
  padding: 21px 34px;
  background: var(--accident-03);
  border: 2px solid transparent;
  outline: 2px solid transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--light);
  transition-property: outline-color, border-color, background-color;
  transition:  .3s ease ;
}

.section-hero__link:focus {
  outline: none;
}

.section-hero__link.focus-visible {
  outline: 2px solid var(--accident-02);
  outline-offset: 3px;
}

.section-hero__link:hover {
  border-color: var(--accident-04);
}

.section-hero__link:active {
  background-color: var(--accident-01);
  border-color: var(--accident-04);
}

/* About */
.section-about__container {
  padding-bottom: 70px;
}

.section-about__content {
  max-width: 1080px;
}

.section-about__title {
  margin-bottom: 17px;
}

/* Gallery */
.section-gallery {
  width: 100%;
  min-height: 995px;
  margin-bottom: 88px;
  background: url("/img/gallary-1920.jpg") center center no-repeat var(--main);
  background-size: cover;
}

.link-autorisation {
  position: relative;
  padding-bottom: 5px;
  color: var(--accident-02);
  border: 1px solid transparent;
  border-width: 0 0 1px 0;
  outline: none;
  transition-property: color, border-color;
  transition: .3s ease;
}

.link-autorisation.focus-visible {
  color: var(--light);
}

.link-autorisation:hover {
  border-color: currentColor;
}

.link-autorisation:active {
  color: var(--accident-01);
  border-color: currentColor;
}

.section-gallery__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-gallery__content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 835px;
}

.section-gallery__left-panel,
.section-gallery__note {
  width: calc(400 / 1600 * 100%);
}

.section-gallery__title {
  margin-bottom: 17px;
}

.section-gallery__label {
  display: block;
  margin-bottom: 9px;
}

.link-autorisation.link-focus::after {
  right: 0;
  left: 0;
  bottom: 2px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__inner {
  min-height: 40px;
  padding: 7.5px 9px 3.75px;
  background-color: transparent;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
  color: var(--light);
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-focused .choices__inner {
  background-color: rgba(255, 255, 255, 0.2);
  border-color:var(--light);
}

.choices[data-type*=select-one]:after {
  width: 8px;
  height: 8px;
  right: 16px;
  margin-top: -5px;
  border-color:var(--light);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -2.5px;
  border-color:var(--light);
  transform: rotate(-135deg);
}

.is-open .choices__inner {
  background-color: transparent;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item {
  font-size: 16px;
  line-height: 1;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid var(--gray);
}

.choices__list--dropdown {
  background-color: transparent;
  border-radius: 6px;
  border-color: var(--gray);
  color: var(--gray);
}

.is-open .choices__list--dropdown {
  border-color: var(--gray);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--light);
}

.section-gallery__note {
  position: relative;
}

.section-gallery__note-content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -11px;
  z-index: 1;
}

.section-gallery__swiper-panel {
  width: calc(1150 / 1600 * 100%);
  padding-top: 24px;
  margin-right: 0;
}

.slides-container {
  overflow: hidden;
}

.section-gallery__navigation {
  display: inline-flex;
  align-items: center;
  padding-left: 3px;
  margin-bottom: 29px;
}

.gallery-pagination {
  margin-right: 19px;
  text-align: center;
  color: var(--light);
}

.nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  outline: none;
  background-color: var(--darkgray);
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color, border-color;
  transition:  .3s ease;
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 6px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.nav-btn.focus-visible {
  border-color: var(--dark);
}

.nav-btn:hover {
  background-color: var(--accident-03);
}

.nav-btn:active {
  background-color: var(--accident-01);
  border-color: var(--dark);
}

.nav-btn.swiper-button-disabled {
  background-color: var(--darkgray);
  border-color: transparent;
  opacity: .5;
  cursor: unset;
}

.gallery-prev {
  margin-right: 19px;
}

.gallery-next::before {
  left: calc(50% - 9px / 2);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.gallery-prev::before {
  left: calc(50% - 4px / 2);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.gallery-slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.gallery-slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 98%;
  border: 3px solid transparent;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery-slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/img/icon-zoom.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.gallery-slide:hover::after {
  opacity: 1;
}

.gallery-slide:focus {
  outline: none;
}

.gallery-slide:focus::before {
  border-color: #7943A4;
}

.gallery-slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Catalog */
.section-catalog {
  margin-bottom: 88px;
}

.section-catalog__title {
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 10px;
  margin-right: 40px;
}

.section-catalog__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.section-catalog__btn-list {
  display: flex;
}

.section-catalog__tabs-btn {
  position: relative;
  border-radius: 50%;
  border: 2px solid transparent;
  line-height: 0;
  outline: none;
  transition: border-color .3s ease;
}

.section-catalog__tabs-btn::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border: 2px solid var(--accident-01);
  border-radius: 50%;
  opacity: 0;
  transform: scale(.7);
  transition: opacity .3s ease, transform .3s ease;
}

.section-catalog__tabs-btn.focus-visible,
.section-catalog__tabs-btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.section-catalog__tabs-btn:active {
  border-color: var(--accident-01);
}

.section-catalog__tabs-btn.section-catalog__tabs-btn-active::after {
  opacity: 1;
  transform: scale(1);
}

.section-catalog__btn-item:not(:last-child) {
  margin-right: 50px;
}

.section-catalog__descr {
  max-width: 1080px;
  margin-bottom: 39px;
}

.section-catalog__tab-content {
  display: none;
}

.section-catalog__tab-content-active {
  display: flex;
  align-items: flex-start;
}



.section-catalog__panel {
  flex: 0 0 50%;
}

.section-catalog__info-panel {
  padding-right: 50px;
}

/* .section-catalog__info {
  display: none;
}

.section-catalog__info-active {
  display: block;
} */

.section-catalog__info-title {
  margin-bottom: 9px;
}

.section-catalog__info-period {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
}

.info-patch__pic {
  max-width: 750px;
  height: 470px;
  margin-bottom: 28px;
  background: url("../img/artist-patch.png") no-repeat center center var(--gallery);
}

.info-patch__title,
.info-patch__descr {
  margin-bottom: 15px;
}

.patch {
  display: flex;
  align-items: center;
}

.patch__pic {
  width: 251px;
  height: 165px;
  margin: 10px;
  background-color: var(--nobel);
  outline: 2px solid var(--nobel);
  outline-offset: 8px;
}

.patch__content {
  max-width: 300px;
  padding-left: 24px;
}

.patch__title {
  margin-bottom: 10px;
}

.patch__descr {
  margin-bottom: 10px;
  line-height: 22px;
}

.patch__link.link-focus::after {
  right: -8px;
  left: -8px;
  bottom: 2px;
}

/* ----accordion---- */
.section-catalog__periods-item:first-child {
  border-top: 1px solid lightgray;
}

.section-catalog__periods-item {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid lightgray;
  transition: border-color .3s ease;
}

.section-catalog__heading {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 42px 120px 42px 0;
  font-size: 24px;
  border-bottom: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: color .3s ease, border-color .3s ease;
}

.section-catalog__content {
  padding-top: 25px;
  padding-bottom: 25px;
}

.text {
  margin-top: 0;
  margin-bottom: 20px;
}

.section-catalog__heading.link-focus::after {
  top: 40px;
  bottom: 40px;
  left: 0;
  width: 210px;
  background: var(--accident-03);
}

.section-catalog__periods-item:first-child:hover,
.section-catalog__periods-item:hover,
.section-catalog__periods-item:focus-within {
  border-color: #9D5CD0;
}

.ui-accordion-header-active {
  border-bottom: 1px solid var(--accident-03);
}

.head-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  transform: translateY(-50%) rotate(-180deg);
  transition: background-color.3s, .6s ease, transform .3s, .6s ease;
}

.head-icon-round {
  transition: fill .5s ease, stroke .5s ease;
}

.section-catalog__heading:hover {
  color: #9D5CD0;
  outline: none;
}

.section-catalog__heading.focus-visible {
  color: var(--light);
}

.section-catalog__heading:hover .head-icon-round,
.section-catalog__heading:focus .head-icon-round {
  fill: #D1A9F0;
  stroke: #D1A9F0;
}

.section-catalog__heading.ui-accordion-header-active .head-icon {
  transform: translateY(-50%) rotate(0);
}

.section-catalog__heading.ui-accordion-header-active .head-icon-round {
  fill: #D1A9F0;
  stroke: #9D5CD0;
}

.section-catalog__artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.section-catalog__artist-item {
  width: calc(100% / 3 - 20px);
}

.section-catalog__link-artist {
  position: relative;
  outline: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: color .3s ease, border-color .3s ease;
}

.section-catalog__link-artist.focus-visible {
  color: var(--light);
}

.section-catalog__link-artist.link-focus::after {
  left: 0;
  right: 0;
  background: var(--accident-03);
}

.section-catalog__link-artist:hover {
  color: var(--accident-03);
  border-bottom: 1px solid currentColor;
}

.section-catalog__link-artist.link-focus:hover::after {
  background: transparent;
}

.section-catalog__link-artist:active,
.section-catalog__link-artist-active {
  color: var(--accident-01);
  border-bottom: 1px solid transparent;
}


