/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v27-latin_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --light: #fff;
  --dark: #000;
  --main: #333;
  --gray: #999;
  --darkgray: #666;
  --nobel: #b7b7b7;
  --gallery: #ececec;
  --silver: #cacaca;
  --accident-01: #7943a4;
  --accident-02: #c283f3;
  --accident-03: #9d5cd0;
  --accident-04: #d1a9f0;
  --accident-05: #d88f99;

  --container-padding: 30px;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}

p, h1, h2, h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

html {
  font-family: 'Open Sans', sans-serif;
  background: var(--light);
}

body {
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  max-width: 1660px;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  /* max-width: 1920px;
  padding-right: 160px;
  padding-left: 160px; */
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  padding: 21px 34px;
  border: 2px solid var(--accident-03);
  outline: 2px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition-property: color, outline-color, border-color, background-color;
  -o-transition-property: color, outline-color, border-color, background-color;
  transition-property: color, outline-color, border-color, background-color;
  -webkit-transition:  .3s ease ;
  -o-transition:  .3s ease ;
  transition:  .3s ease ;
}

.btn:hover {
  border-color: var(--accident-04);
}

.btn:active {
  background-color: var(--accident-01);
  border-color: var(--accident-04);
}

.btn:focus {
  outline: none;
}

.btn.focus-visible {
  outline: 2px solid var(--accident-02);
  outline-offset: 3px;
}


.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--main);
}

.sub-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--main);
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main);
}

.white-text {
  color: var(--light);
}

.semibold {
  font-weight: 600;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__top {
  padding: 29px 0;
  background: var(--dark);
}

.header__bottom {
  padding: 19px 0;
  background: rgba(0, 0, 0, 0.4);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger{
  display: none;
}

.aside-left {
  width: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.aside-right {
  width: 73px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 clamp(1000px, 78%, 1247px);
          flex: 0 1 clamp(1000px, 78%, 1247px);
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(670px, 68vw, 958px);
}

.header__nav-item {
  padding-right: 20px;
  /* margin-right: clamp(0px, 5%, 42px); */
  margin-right: clamp(0px, calc(2.5vw - ((958px - 68vw)/17)), 42px);

}

.header__nav-link {
  position: relative;
  z-index: 1;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--light);
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}


.link-focus::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -1px;
  right: -8px;
  bottom: -3px;
  left: -8px;
  background: var(--accident-01);
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.link-focus.focus-visible::after {
  opacity: 1;
}

.header__nav-link:hover {
  color: var(--accident-02);
}

.header__nav-link:active {
  color: var(--accident-01);
}

.btn-enter {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 1;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--light);
  cursor: pointer;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.btn-enter .icon-enter {
  fill: currentColor;
}

.icon-enter {
  margin-right: 1px;
}

.btn-enter::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -1px;
  right: -6px;
  bottom: -1px;
  left: -6px;
  background: var(--accident-01);
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.btn-enter.focus-visible::after {
  opacity: 1;
}

.btn-enter:hover {
  color: var(--accident-02);
}

.btn-enter:hover .icon-enter {
  fill: currentColor;
}

.btn-enter:active {
  color: var(--accident-01);
}

.btn-enter:focus .icon-enter {
  fill: currentColor;
}

.header__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }

.header__bottom-item {
  position: relative;
  padding-right: 10px;
  margin: 5px 0;
  margin-right: clamp(0px, calc(4.2vw - ((958px - 68vw)/11)), 87px);
  color: var(--light);
}



.header__bottom-item-heading {
  font-weight: 400;
  font-size: 18px;
}

.header__bottom-item-btn {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  padding-right: 4px;
  border: none;
  background-color: transparent;
  color: var(--light);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  z-index: 5;
}

.header__bottom-item-btn::before {
  content: '';
  position: absolute;
  top: -3px;
  right: -5px;
  bottom: -8px;
  left: -8px;
  background-color: var(--accident-01);
  z-index: -1;
  opacity: 0;
  -webkit-transition-property: color, opacity;
  -o-transition-property: color, opacity;
  transition-property: color, opacity;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header__bottom-item-btn.focus-visible::before {
  opacity: 1;
  color: var(--light);
}


.header__bottom-item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 5px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform-origin: cente;
      -ms-transform-origin: cente;
          transform-origin: cente;
}



.header__bottom-item-btn.is-active {
  color: var(--accident-01);
}
.header__bottom-item-btn.is-active::before {
  color: var(--accident-01);
  background-color: transparent;
}

.header__bottom-item-btn.is-active::after {
  -webkit-transform: rotate(-45deg) translateY(4px);
      -ms-transform: rotate(-45deg) translateY(4px);
          transform: rotate(-45deg) translateY(4px);
}

.header__bottom-item-btn:active {
  color: var(--accident-01);
}

.header__bottom-item-btn:hover {
  color: var(--accident-03);
}

.header__bottom-dropdown {
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__bottom-dropdown-wrap {
  width: 240px;
  max-height: 220px;
}

.header__bottom-dropdown.is-active {
  position: absolute;
  top: 45px;
}

.header__bottom-dropdown > ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.header__bottom-dropdown.is-active {
  display: block;
  -webkit-animation-name: dropdownOpen;
          animation-name: dropdownOpen;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.header__bottom-dropdown.is-disabled {
  display: block;
  -webkit-animation-name: dropdownClose;
          animation-name: dropdownClose;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.header__bottom-drop-list {
  list-style: none;
  padding-left: 0;
}

.header__bottom-dropdown-item {
  width: 220px;
}

.header__bottom-dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__bottom-item-link {
  position: relative;
  display: block;
  padding: 10px 15px;
  outline: none;
  border: 2px solid transparent;
  font-size: 14px;
  line-height: 16px;
  color: var(--light);
  background-color: var(--accident-05);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: border-color .3s ease;
  -o-transition: border-color .3s ease;
  transition: border-color .3s ease;
}

.header__bottom-item-link::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: 2px solid var(--accident-04);
  background: rgba(194, 131, 243, 0.4);
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.header__bottom-item-link:hover,
.header__bottom-item-link:focus {
  border-color: var(--accident-03);
}

.header__bottom-item-link--1-1 {
  background-image: url("../img/drd-1-1.jpg");
}

.header__bottom-item-link--1-2 {
  background-image: url("../img/drd-1-2.jpg");
}

.header__bottom-item-link--1-3 {
  background-image: url("../img/drd-1-3.jpg");
}

.header__bottom-item-link--1-4 {
  background-image: url("../img/drd-1-4.jpg");
}

.header__bottom-item-link--1-5 {
  background-image: url("../img/drd-3-1.jpg");
}

.header__bottom-item-link--1-6 {
  background-image: url("../img/drd-3-2.jpg");
}

.header__bottom-item-link--2-1 {
  background-image: url("../img/drd-2-1.jpg");
}

.header__bottom-item-link--2-2 {
  background-image: url("../img/drd-2-2.jpg");
}

.header__bottom-item-link--2-3 {
  background-image: url("../img/drd-2-3.jpg");
}

.header__bottom-item-link--2-4 {
  background-image: url("../img/drd-2-4.jpg");
}

.header__bottom-item-link--3-1 {
  background-image: url("../img/drd-3-1.jpg");
}

.header__bottom-item-link--3-2 {
  background-image: url("../img/drd-3-2.jpg");
}

.header__bottom-item-link--3-3 {
  background-image: url("../img/drd-3-3.jpg");
}

.header__bottom-item-link--3-4 {
  background-image: url("../img/drd-3-4.jpg");
}

.header__bottom-item-link--4-1 {
  background-image: url("../img/drd-4-1.jpg");
}

.header__bottom-item-link--4-2 {
  background-image: url("../img/drd-4-2.jpg");
}

.header__bottom-item-link--4-3 {
  background-image: url("../img/drd-4-3.jpg");
}

.header__bottom-item-link--4-4 {
  background-image: url("../img/drd-4-4.jpg");
}

.header__bottom-item-link--5-1 {
  background-image: url("../img/drd-5-1.jpg");
}

.header__bottom-item-link--5-2 {
  background-image: url("../img/drd-5-2.jpg");
}

.header__bottom-item-link--5-3 {
  background-image: url("../img/drd-5-3.jpg");
}

.header__bottom-item-link--5-4 {
  background-image: url("../img/drd-5-4.jpg");
}

.header__bottom-item-link:active::after {
  opacity: 1;
}

.header__bottom-dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--dark);
}

.header__bottom-dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--light);
  opacity: 1;
}

@-webkit-keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.search-btn {
  outline: none;
  line-height: 0;
  cursor: pointer;
}

.search-btn svg {
  width: 22px;
  height: 22px;
  fill: var(--light);
  -webkit-transition: fill .3s ease;
  -o-transition: fill .3s ease;
  transition: fill .3s ease;
}

.search-btn:focus svg,
.search-btn:hover svg {
  fill: var(--accident-02);
}

.search-btn-open {
  display: none;
}


.search-form__input {
  width: 218px;
  padding: 0;
  margin-left: 9px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--light);
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--light);
  -webkit-transition: border-color .3s ease;
  -o-transition: border-color .3s ease;
  transition: border-color .3s ease;
}

.search-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.search-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.search-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.search-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.search-form__input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.search-form__input:focus,
.search-form__input:hover {
  border-color: var(--accident-02);
}

.search-form__input:active {
  border-color: var(--accident-01);;
}

.search-form__close-btn {display: none;}

/* Hero */
.section-hero {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 800px;
  margin-bottom: 80px;
}

.section-hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/hero-1920-1.jpg") center center no-repeat var(--main);
  background-size: cover;
  z-index: -1;
  -webkit-animation: scale-bg 10s ease-in-out infinite;
          animation: scale-bg 10s ease-in-out infinite;
}


@-webkit-keyframes scale-bg {
  0% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@keyframes scale-bg {
  0% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


.section-hero__container {
  padding-top: 239px;
  padding-bottom: 122px;
}

.section-hero__content {
  max-width: 597px;
}

.section-hero__title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: var(--light);
}

.section-hero__descr {
  margin-bottom: 93px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--light);
}

.section-hero__link {
  padding: 21px 34px;
  background: var(--accident-03);
  border: 2px solid transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--light);
}

/* About */
.section-about__container {
  padding-bottom: 69px;
}

.section-about__content {
  max-width: 1080px;
}

.section-about__title {
  margin-bottom: 17px;
}

/* Gallery */
.section-gallery {
  width: 100%;
  margin-bottom: 88px;
  background: url("../img/gallary-1920.jpg") center center no-repeat var(--main);
  background-size: cover;
}

.link-autorisation {
  position: relative;
  padding-bottom: 5px;
  color: var(--accident-02);
  border: 1px solid transparent;
  border-width: 0 0 1px 0;
  outline: none;
  -webkit-transition-property: color, border-color;
  -o-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.link-autorisation.focus-visible {
  color: var(--light);
}

.link-autorisation:hover {
  border-color: currentColor;
}

.link-autorisation:active {
  color: var(--accident-01);
  border-color: currentColor;
}

.section-gallery__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-gallery__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-gallery__left-panel,
.section-gallery__note {
  width: calc(400 / 1600 * 100%);
}

.section-gallery__title {
  margin-bottom: 17px;
}

.section-gallery__label {
  display: block;
  margin-bottom: 9px;
}

.link-autorisation.link-focus::after {
  right: 0;
  left: 0;
  bottom: 2px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__inner {
  min-height: 40px;
  padding: 7.5px 9px 3.75px;
  background-color: transparent;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
  color: var(--light);
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-focused .choices__inner {
  background-color: rgba(255, 255, 255, 0.2);
  border-color:var(--light);
}

.choices[data-type*=select-one]:after {
  width: 8px;
  height: 8px;
  right: 16px;
  margin-top: -5px;
  border-color:var(--light);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -2.5px;
  border-color:var(--light);
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.is-open .choices__inner {
  background-color: transparent;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item {
  font-size: 16px;
  line-height: 1;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid var(--gray);
}

.choices__list--dropdown {
  background-color: transparent;
  border-radius: 6px;
  border-color: var(--gray);
  color: var(--gray);
}

.is-open .choices__list--dropdown {
  border-color: var(--gray);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--light);
}

.section-gallery__note {
  position: relative;
}

.section-gallery__note-content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -11px;
  z-index: 1;
}

.section-gallery__swiper-panel {
  width: calc(1150 / 1600 * 100%);
  padding-top: 24px;
  margin-right: 0;
}

.gallary-slides-container,
.section-pbls__slides-container,
.section-projects__slides-container {
  overflow: hidden;
}

.section-gallery__navigation,
.section-pbls__navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3px;
  margin-bottom: 29px;
}

.swiperr-pagination,
.section-pbls__pagination {
  margin-right: 19px;
  text-align: center;
  color: var(--light);
}

.nav-btn {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30px;
  height: 30px;
  outline: none;
  background-color: var(--darkgray);
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition:  .3s ease;
  -o-transition:  .3s ease;
  transition:  .3s ease;
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 6px / 2);
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.nav-btn.focus-visible {
  border-color: var(--dark);
}

.nav-btn:hover {
  background-color: var(--accident-03);
}

.nav-btn:active {
  background-color: var(--accident-01);
  border-color: var(--dark);
}

.nav-btn.swiper-button-disabled {
  background-color: var(--darkgray);
  border-color: transparent;
  opacity: .5;
  cursor: unset;
}

.swiper-prev {
  margin-right: 19px;
}

.swiper-next::before,
.section-pbls__next::before {
  left: calc(50% - 9px / 2);
  border-top: 1px solid var(--light);
  border-right: 1px solid var(--light);
}

.swiper-prev::before,
.section-pbls__prev::before {
  left: calc(50% - 4px / 2);
  border-left: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
}

.gallery-slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.gallery-slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  -webkit-transition: background-color .3s ease, border-color .3s ease;
  -o-transition: background-color .3s ease, border-color .3s ease;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery-slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../img/icon-zoom.svg');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.gallery-slide:hover::after {
  opacity: 1;
}

.gallery-slide:focus {
  outline: none;
}

.gallery-slide:focus::before {
  border-color: #7943A4;
}

.gallery-slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Catalog */
.section-catalog {
  margin-bottom: 80px;
}

.section-catalog__title {
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 10px;
  margin-right: 40px;
}

.section-catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.section-catalog__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-catalog__tabs-btn {
  position: relative;
  border-radius: 50%;
  border: 2px solid transparent;
  line-height: 0;
  outline: none;
  -webkit-transition: border-color .3s ease;
  -o-transition: border-color .3s ease;
  transition: border-color .3s ease;
}

.section-catalog__tabs-btn::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border: 2px solid var(--accident-01);
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(.7);
      -ms-transform: scale(.7);
          transform: scale(.7);
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, -webkit-transform .3s ease;
  -o-transition: opacity .3s ease, transform .3s ease;
  transition: opacity .3s ease, transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
}

.section-catalog__tabs-btn.focus-visible,
.section-catalog__tabs-btn:hover {
  -webkit-filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
          filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.section-catalog__tabs-btn:active {
  border-color: var(--accident-01);
}

.section-catalog__tabs-btn.section-catalog__tabs-btn-active::after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.section-catalog__btn-item:not(:last-child) {
  margin-right: 45px;
}

.section-catalog__descr {
  max-width: 1080px;
  margin-bottom: 39px;
}

.section-catalog__tab-content {
  display: none;
}

.section-catalog__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-catalog__tab-content-active {
  display: block;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.section-catalog__panel {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.section-catalog__info-panel {
  padding-right: 50px;
}

.section-catalog__info {
  display: none;
}

.section-catalog__info-active {
  display: block;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.section-catalog__info-title {
  margin-bottom: 9px;
}

.section-catalog__info-period {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
}

.section-catalog__patch-pic {
  position: relative;
  max-width: 100%;
  padding-top: 62.66%;
  margin-bottom: 31px;
  background: url("../img/artist-patch.png") no-repeat center center var(--gallery);
  background-size: auto;
}

.section-catalog__img {
  position: absolute;
  top: 0;
}

.section-catalog__patch-title,
.section-catalog__patch-descr {
  margin-bottom: 15px;
}

.patch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.patch__pic {
  width: 251px;
  height: 165px;
  margin: 10px;
  background-color: var(--nobel);
  outline: 2px solid var(--nobel);
  outline-offset: 8px;
}

.patch__content {
  max-width: 300px;
  padding-left: 24px;
}

.patch__title {
  margin-bottom: 10px;
}

.patch__descr {
  margin-bottom: 10px;
  line-height: 22px;
}

/* ----accordion---- */
.section-catalog__periods-item:first-child {
  border-top: 1px solid lightgray;
}

.section-catalog__periods-item {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid lightgray;
  -webkit-transition: border-color .3s ease;
  -o-transition: border-color .3s ease;
  transition: border-color .3s ease;
}

.section-catalog__heading {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 41px 120px 41px 0;
  font-size: 24px;
  line-height: 31px;
  border-bottom: 1px solid transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s ease, border-color .3s ease;
  -o-transition: color .3s ease, border-color .3s ease;
  transition: color .3s ease, border-color .3s ease;
}

.section-catalog__content {
  padding-top: 25px;
  padding-bottom: 25px;
}

.text {
  margin-top: 0;
  margin-bottom: 20px;
}

.section-catalog__heading.link-focus::after {
  top: 40px;
  bottom: 40px;
  left: 0;
  width: 210px;
  background: var(--accident-03);
}

.section-catalog__periods-item:first-child:hover,
.section-catalog__periods-item:hover,
.section-catalog__periods-item:focus-within {
  border-color: #9D5CD0;
}

.ui-accordion-header-active {
  border-bottom: 1px solid var(--accident-03);
}

.head-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
  -webkit-transition: background-color.3s, .6s ease, .6s ease, -webkit-transform .3s;
  transition: background-color.3s, .6s ease, .6s ease, -webkit-transform .3s;
  -o-transition: background-color.3s, .6s ease, transform .3s, .6s ease;
  transition: background-color.3s, .6s ease, transform .3s, .6s ease;
  transition: background-color.3s, .6s ease, transform .3s, .6s ease, -webkit-transform .3s;
}

.head-icon-round {
  -webkit-transition: fill .5s ease, stroke .5s ease;
  -o-transition: fill .5s ease, stroke .5s ease;
  transition: fill .5s ease, stroke .5s ease;
}

.section-catalog__heading.ui-accordion-header-active {
  color: var(--accident-01);
}

.section-catalog__heading:hover {
  color: #9D5CD0;
  outline: none;
}

.section-catalog__heading.focus-visible {
  color: var(--light);
}


.section-catalog__heading:hover .head-icon-round,
.section-catalog__heading:focus .head-icon-round {
  fill: #D1A9F0;
  stroke: #D1A9F0;
}

.section-catalog__heading.ui-accordion-header-active .head-icon {
  -webkit-transform: translateY(-50%) rotate(0);
      -ms-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
}

.section-catalog__heading.ui-accordion-header-active .head-icon-round {
  fill: #D1A9F0;
  stroke: #9D5CD0;
}

.section-catalog__artist-list {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}

.section-catalog__link-artist {
  position: relative;
  outline: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: color .3s ease, border-color .3s ease;
  -o-transition: color .3s ease, border-color .3s ease;
  transition: color .3s ease, border-color .3s ease;
}

.section-catalog__link-artist.focus-visible {
  color: var(--light);
}

.section-catalog__link-artist.link-focus::after {
  left: 0;
  right: 0;
  background: var(--accident-03);
}

.section-catalog__link-artist:hover {
  color: var(--accident-03);
  border-bottom: 1px solid currentColor;
}

.section-catalog__link-artist.link-focus:hover::after {
  background: transparent;
}

.section-catalog__link-artist:active,
.section-catalog__link-artist-active {
  color: var(--accident-01);
  border-bottom: 1px solid transparent;
}
/* News */
.section-news {
  margin-bottom: 80px;
}

.section-news__title {
  margin-bottom: 16px;
}

/* ------------------------- */
.slider {
  overflow: hidden;
}

.section-news__item {
  position: relative;
  width: calc((100% - (100% / 16)) / 3);
  min-height: 700px;
  margin-bottom: calc(100% / 32);
  margin-right: calc(100% / 32);
  border: 1px solid #cacaca;
}

.section-news__item:nth-child(3n) {
  margin-right: 0;
}

.section-news__item.is-hidden {
  display: none;
}
/* ---------------------------- */


.section-news__item-image {
  width: 100%;
  margin-bottom: 10px;
}

.section-news__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 50px 100px;
}

.section-news__caption {
  display: block;
  margin-right: 18px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: var(--gray);
}

.section-news__item-title {
  margin-bottom: 5px;
}

.section-news__link {
  position: absolute;
  left: 50px;
  bottom: 42px;
  outline: none;
  border: 1px solid currentColor;
  border-width: 0 0 1px 0;
  line-height: 25px;
  color: var(--accident-03);
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.section-news__link.focus-visible {
  color: var(--light);
}

.section-news__link.link-focus::after {
  top: -3px;
  bottom: -8px;
}

.section-news__link:hover {
  color: var(--accident-01);
}

.section-news__link:active {
  color: var(--main);
}

.section-news__btn-more {
  display: block;
  padding: 15px 33px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--accident-03);
}

.section-news__btn-more:hover {
  color: var(--light);
  background-color: var(--accident-03);
}

.section-news__btn-more:active {
  color: var(--light);
  background-color: var(--accident-01);
  border-color: var(--accident-04);
}

.is-active {
  display: block;
}

/* Publications */
.section-pbls {
  width: 100%;
  margin-bottom: 80px;
  background: url("../img/publication-bg-1920.jpg") center center no-repeat var(--main);
  background-size: cover;
}

.section-pbls__container {
  padding-top: 80px;
  padding-bottom: 72px;
}

.section-pbls__content-wrap{
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-pbls__left-panel {
  width: calc(400 / 1600 * 100%);
}

.section-pbls__swiper-panel {
  width: calc(1155 / 1600 * 100%);
}

.section-pbls__title{
  margin-bottom: 16px;
}

.section-pbls__check-label {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.section-pbls__heading {
  display: inline;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.section-pbls__list {
margin-bottom: 27px;
}

.section-pbls__check {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.section-pbls__checkbox {
  position: absolute;
  left: 0;
  top: 10px;
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-color: var(--light);
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}

.section-pbls__checkbox::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accident-02);
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.section-pbls__check:focus ~ .section-pbls__checkbox {
  border-color: var(--accident-02);
}

.section-pbls__check:focus ~ .section-pbls__heading {
  color: var(--accident-02);
}

.section-pbls__check-label:hover {
  color: var(--accident-02);
}

.section-pbls__check-label:hover .section-pbls__checkbox {
  border-color: var(--accident-02);
}

.section-pbls__check:checked + .section-pbls__checkbox {
  border-color: var(--accident-02);
}

.section-pbls__check:checked ~ .section-pbls__heading {
  color: var(--accident-02);
}

.section-pbls__check:checked + .section-pbls__checkbox::before {
  opacity: 1;
}

.close {
  display: none;
}

.section-pbls__form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.section-pbls__legend {
  font-weight: 700;
}

.section-pbls__price-legend {
  margin-bottom: 7px;
}

.section-pbls__price-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 279px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.section-pbls__price-input {
  width: 73px;
  height: 38px;
  padding: 10px;
  background-color: rgba(157, 92, 208, 0.5);
  border: 1px solid transparent;
  outline: none;
  -webkit-transition: border-color, background-color .3s ease;
  -o-transition: border-color, background-color .3s ease;
  transition: border-color, background-color .3s ease;
}

.section-pbls__price-input.focus-visible {
  background-color: var(--accident-03);
  border-color: var(--light);
}

.section-pbls__price-input:hover {
  background-color: var(--accident-03);
}

.section-pbls__price-input:active {
  background-color: var(--accident-01);
}

.section-pbls__price-input::-webkit-input-placeholder {
  color: var(--light);
}

.section-pbls__price-input::-moz-placeholder {
  color: var(--light);
}

.section-pbls__price-input:-ms-input-placeholder {
  color: var(--light);
}

.section-pbls__price-input::-ms-input-placeholder {
  color: var(--light);
}

.section-pbls__price-input::placeholder {
  color: var(--light);
}

.section-pbls__price-label {

  width: 40px;
  padding: 10px;
  line-height: 1;
}

.section-pbls__navigation{
  padding-top: 33px;
  padding-left: 5px;
}

.section-pbls__prev {
  margin-right: 19px;
}

.section-pbls__slides-container {
  padding-left: 5px;
  padding-bottom: 5px;
}

.section-pbls__slides-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-pbls__slide {
  position: relative;
  height: auto;
  outline: none;
}

.section-pbls__image {
  margin-bottom: 23px;
}

.section-pbls__slide-content {
  position: relative;
  width: 100%;
  min-height: 96px;
  padding-bottom: 56px;
}

.section-pbls__slide-title {
  padding-right: 85px;
  margin-bottom: 5px;
  font-weight: 700;
}

.section-pbls__slide-price {
  position: absolute;
  top: 0;
  right: 0;
  font-style: italic;
}

.section-pbls__slide-title,
.section-pbls__slide-price,
.section-pbls__slide-autor {
  line-height: 1;
}

.section-pbls__slide-link {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 9px 20px;
  font-weight: 700;
}

.section-pbls__slide-link:hover,
.section-contacts__form-btn:hover {
  color: var(--light);
  background-color: var(--accident-03);
}

.section-pbls__slide-link:active,
.section-contacts__form-btn:active {
  color: var(--light);
  background-color: var(--accident-01);
  border-color: var(--accident-04);
}

/* Projects */
.section-projects__container {
  margin-bottom: 80px;
}

.section-projects__content {
  max-width: 1080px;
  margin-bottom: 19px;
}

.section-projects__title {
  margin-bottom: 17px;
}

.section-projects__link {
  font-weight: 600;
}

.section-projects__link.link-focus::after {
  right: -8px;
  left: -8px;
}

/* tooltip */
.mark-tooltip {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 16px;
  background-color: var(--light);
  border: 1px solid var(--accident-03);
  border-radius: 8px;
  cursor: pointer;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.mark-tooltip::before {
  content: 'i';
  position: absolute;
  top: -8px;
  left: 5px;
  font-weight: 700;
  font-size: 13px;
  line-height: 31px;
  color: var(--dark);
}

.mark-tooltip:focus{
  outline: none;
}

.mark-tooltip:hover,
.mark-tooltip:focus {
  background-color: var(--accident-03);
}

.mark-tooltip:hover::before,
.mark-tooltip:focus::before,
.mark-tooltip:active::before {
  color: var(--light);
}

.mark-tooltip:active {
  background-color: var(--accident-01);
}

.tippy-box[data-theme~='accident-03'] {
  padding: 7px 7px;
  background-color: var(--accident-03);
  border-radius: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--light);
  text-align: center;
}

.tippy-box[data-theme~='accident-03'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--accident-03);
}

.tippy-box[data-theme~='accident-03'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--accident-03);
}

.tippy-box[data-theme~='accident-03'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--accident-03);
}

.tippy-box[data-theme~='accident-03'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--accident-03);
}

.section-projects__subtitle {
  margin-bottom: 23px;
}

.section-projects__swiper-container {
  position: relative;
}

.section-projects__slides-container {
  width: calc(100% - 150px);
  margin-right: auto;
  margin-left: auto;
}

.section-projects__nav-btn {
  background-color: var(--gallery);
}

.section-projects__nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 6px / 2);
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.section-projects__swiper-prev::before {
  left: calc(50% - 4px / 2);
}

.section-projects__swiper-next::before {
  right: calc(50% - 4px / 2);
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}

.section-projects__nav-btn.focus-visible {
  border-color: var(--accident-03);
}

.section-projects__nav-btn:hover {
  background-color: var(--accident-04);
}

.section-projects__nav-btn:active {
  background-color: var(--accident-04);
  border-color: var(--accident-03);
}

.section-projects__nav-btn.swiper-button-disabled {
  background-color: var(--gallery);
  border-color: transparent;
  cursor: unset;
}

.section-projects__nav-btn.swiper-button-disabled::before {
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.section-projects__swiper-prev,
.section-projects__swiper-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-projects__swiper-prev {
  left: 0;
}

.section-projects__swiper-next {
  right: 0;
}

.section-projects__slide {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 150px;
  border: 1px solid var(--silver);
  outline: none;
  cursor: pointer;
}

.section-projects__img {
  margin: auto;
  -webkit-filter: contrast(0%);
          filter: contrast(0%);
  opacity: .5;
  -webkit-transition: opacity .3s ease, -webkit-filter;
  transition: opacity .3s ease, -webkit-filter;
  -o-transition: filter, opacity .3s ease;
  transition: filter, opacity .3s ease;
  transition: filter, opacity .3s ease, -webkit-filter;
}

.shape-img {
  -webkit-filter: grayscale(100%) contrast(250%);
          filter: grayscale(100%) contrast(250%);
  opacity: 0.25;
}

.section-projects__slide.focus-visible,
.section-projects__slide:active {
  border-color: var(--accident-03);
}

.section-projects__slide:hover .section-projects__img,
.section-projects__slide:active .section-projects__img {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}

/* Contacts */
.section-contacts{
  overflow-x: hidden;
}

.section-contacts__contacts {
  padding-top: 123px;
}

.section-contacts__title {
  margin-bottom: 17px;
}

.section-contacts__form-legend{
  margin-bottom: 16px;
  font-weight: 400;
}

.section-contacts__contacts-wrap {
  border-top: 1px solid var(--silver);
}

.section-contacts__container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-contacts__contacts {
  width: calc(522 / 1600 * 100%);
  border-right: 1px solid var(--silver);
}

.section-contacts__map {
  height: 700px;
  width: calc(1078 / 1600 * 100% + ((100vw - 100%) / 2));
  margin-right: calc((-100vw + 100%) / 2);
  margin-top: -1px;

}

[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.section-contacts__subtitle {
  margin-bottom: 4px;
}

.section-contacts__address {
  display: block;
  margin-bottom: 27px;
}

.section-contacts__form {
  margin-bottom: 37px;
}

.section-contacts__input {
  display: block;
  width: calc(100% - min(122px, 7.1vw));
  height: 40px;
  padding-left: 24px;
  margin-bottom: 23px;
  background-color: transparent;
  border: 1px solid var(--main);
  border-radius: 20px;
  outline: none;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.section-contacts__input::-webkit-input-placeholder {
  color: var(--gray);
}

.section-contacts__input::-moz-placeholder {
  color: var(--gray);
}

.section-contacts__input:-ms-input-placeholder {
  color: var(--gray);
}

.section-contacts__input::-ms-input-placeholder {
  color: var(--gray);
}

.section-contacts__input::placeholder {
  color: var(--gray);
}

.section-contacts__input.focus-visible,
.section-contacts__input:hover {
  background-color: #eaeaea;
}

.section-contacts__form-btn {
  padding: 15px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: var(--accident-03);
}

.section-contacts__form-group {
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  left: 0;
  top: -18px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 14px;
}

.section-contacts__social-title {
  margin-bottom: 15px;
  font-weight: 400;
}

.section-contacts__social-item {
  position: relative;
  margin-right: 20px;
  line-height: 0;
}

.section-contacts__social-link {
  outline: none;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.section-contacts__social-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--accident-03);
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.section-contacts__social-link.focus-visible,
.section-contacts__social-link:hover {
  opacity: .5;
}

.section-contacts__social-link:active::after,
.section-contacts__social-link:active {
  opacity: 1;
}

.footer {
  height: 140px;
  background: var(--dark);
  padding-top: 47px;
  padding-bottom: 47px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.footer__social-item {
  line-height: 0;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-link {
  outline: none;
}

.footer__social-link svg {
  fill: var(--silver);
  -webkit-transition: fill .3s ease;
  -o-transition: fill .3s ease;
  transition: fill .3s ease;
}

.footer__social-link.focus-visible svg,
.footer__social-link:hover svg {
  fill: var(--light);
}

.footer__social-link:active svg {
  fill: var(--accident-03);
}

@-webkit-keyframes fade-in {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes fade-in {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
